#containers{
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
}
#btn{
    width: 100px;
    border-radius: 20px;
    background:red;
}
#btn2{
    width: 100px;
    border-radius: 20px;
    background:green;
}